<!--<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="form-group" 
    [class.has-error]="!nome.valid && nome.touched"
    [class.has-feedback]="!nome.valid && nome.touched">
    <label for="nome" class="control-label">Nome</label>
    <input type="text" class="form-control" name="nome"
    id="nome" placeholder="nome" [(ngModel)]="usuario.nome" 
    required #nome="ngModel">
    <!--<div>
      {{ nome.className }}
    </div>
      <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
      aria-hidden="true" *ngIf="!nome.valid && nome.touched"></span>
      <span id="nome" class="sr-only" *ngIf="!nome.valid && nome.touched">(warning)</span>
      <div *ngIf="!nome.valid && nome.touched" 
    class="alert alert-danger" role="alert">
      Nome é obrigatório!
    </div>
  </div>

  <div class="form-group"
  [class.has-error]="!email.valid && email.touched"
  [class.has-feedback]="!email.valid && email.touched">
    <label for="email" class="control-label">Email</label>
    <input type="email" class="form-control" name="email" 
    id="email" placeholder="nome@dominio.com" [(ngModel)]="usuario.email" 
    required email #email="ngModel">
    <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
    aria-hidden="true" *ngIf="!email.valid && email.touched"></span>
                                                    <span id="email" class="sr-only" *ngIf="!email.valid && email.touched">(warning)</span>
    <div *ngIf="!email.valid && email.touched" 
    class="alert alert-danger" role="alert">
      Email inválido!
    </div>
  </div>

  <div class="form-group"
  [class.has-error]="!senha.valid && senha.touched"
  [class.has-feedback]="!senha.valid && senha.touched">
    <label for="senha" class="control-label">Senha</label>
    <input type="senha" class="form-control" name="senha" 
    id="senha" placeholder="senha" [(ngModel)]="usuario.senha" 
    required email #senha="ngModel">
    <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
    aria-hidden="true" *ngIf="!senha.valid && senha.touched"></span>
    <span id="senha" class="sr-only" *ngIf="!senha.valid && senha.touched">(warning)</span>
    <div *ngIf="!senha.valid && senha.touched" 
    class="alert alert-danger" role="alert">
      Senha inválida!
    </div>
  </div>
  <button pButton type="submit" [disabled]="!f.valid" class="ui-button-primary" label="Enviar" ></button>

  </form>-->

      <div align="center">
    <header>
    <h1>InstiSearch</h1>
    </header>
    </div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
          Cadastre-se      
      </div>
      <div class="panel-body">

        <form ngForm #form>
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input [(ngModel)]="usuario.nome" type="text" class="form-control" id="nome" name="nome" required>
          </div>
          <div class="form-group">
            <label for="username">Nome de Usuário:</label>
            <input [(ngModel)]="usuario.username" type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="form-group">
              <label for="password">Senha:</label>
              <input [(ngModel)]="usuario.password" type="password" pPassword class="form-control" id="password" name="password" required>
            </div>
            <button pButton type="button" class="ui-button-success" label="Cadastrar-se!" routerLink='/main'></button>
        </form>
      </div>
</div>