<nav class="navbar navbar-default">
    <div class="container-fluid">
  
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="">InstiSearch</a>
      </div>
  
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/main">Página inicial</a>
        </li>
      </ul>
    </div>
  </nav>
  <h3>Bem vindo!</h3>
  <p-calendar [(ngModel)]="date11" [inline]="true" [showOtherMonths]="true"></p-calendar>
  <div class="container">
      <router-outlet></router-outlet>
  </div>